escolas.json
visualizar_dados copy.py
error_log.txt
scrap2.py
.tool-versions
escolas-rj.json
estados_cidades.json
escolas_rj.json
venv
lista.py
escolas_all.py
escolas_por_cidade.py
escolas_all.json
escolas_rj.py
todas_escolas
escolas_rj_all.py
data_viewer_v2.py
escolas-all1.json
busca_estados_cidades.py
.git
escolas_v2.py
lista_de_arquivos_e_pastas.txt